.vscode
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/.DS_Store

__pycache__/
*.pyc
*.log

results/
*/results
*/results/
*/results/*
results*/
*/results*/
*/results*/*

data/
*/data
*/data/
*/data/*
data*/
*/data*/
*/data*/*

*.pth
